.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity 1.0s ease;
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.component-fade-fast-enter-active, .component-fade-leave-active {
    transition: opacity 0.7s ease;
}
.component-fade-fast-enter, .component-fade-leave-to
    /* .component-fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.slide-fade-enter-active {
  transition: all 1.0s ease;
}
.slide-fade-leave-active {
  transition: all 1.0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translateX(100px);
  opacity: 0.1;
}

.slide-fade-out-enter-active {
  transition: all 1.0s ease;
}
.slide-fade-out-enter, .slide-fade-out-leave-to{
  transform: translateX(100px);
  opacity: 0.5;
}